In [13]:
pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 1.2 MB/s eta 0:00:01    |██▊                             | 1.0 MB 1.1 MB/s eta 0:00:10     |████▉                           | 1.8 MB 1.1 MB/s eta 0:00:10     |███████████                     | 4.1 MB 1.1 MB/s eta 0:00:08     |█████████████████████▌          | 7.9 MB 844 kB/s eta 0:00:05     |██████████████████████████▎     | 9.7 MB 354 kB/s eta 0:00:06
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp38-cp38-linux_x86_64.whl size=247948 sha256=7cd9866c95f9186637aff9d14d96981f477466b92559f0cc8fbc5dd2c3011bde
  Stored in directory: /home/jovyan/.cache/pip/wheels/57/e4/98/5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Collecting pandas
  Downloading pandas-1.2.1-cp38-cp38-manylinux1_x86_64.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 202 kB/s eta 0:00:01     |▌                               | 163 kB 549 kB/s eta 0:00:18     |████                            | 1.2 MB 98 kB/s eta 0:01:27     |██████                          | 1.8 MB 130 kB/s eta 0:01:01     |██████████▋                     | 3.2 MB 101 kB/s eta 0:01:04     |█████████████▏                  | 4.0 MB 112 kB/s eta 0:00:51     |█████████████▎                  | 4.0 MB 112 kB/s eta 0:00:51     |███████████████▌                | 4.7 MB 233 kB/s eta 0:00:22     |███████████████▋                | 4.7 MB 233 kB/s eta 0:00:22     |████████████████                | 4.8 MB 159 kB/s eta 0:00:31     |████████████████▎               | 4.9 MB 132 kB/s eta 0:00:36     |████████████████████▏           | 6.1 MB 137 kB/s eta 0:00:27     |█████████████████████▎          | 6.5 MB 353 kB/s eta 0:00:10     |██████████████████████          | 6.6 MB 353 kB/s eta 0:00:09     |██████████████████████████▍     | 8.0 MB 56 kB/s eta 0:00:30
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2020.5)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.0-cp38-cp38-manylinux2010_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 1.0 MB/s eta 0:00:01    |████████▍                       | 4.0 MB 1.2 MB/s eta 0:00:10     |█████████████                   | 6.2 MB 1.1 MB/s eta 0:00:09     |█████████████▋                  | 6.5 MB 1.1 MB/s eta 0:00:09     |███████████████▎                | 7.3 MB 1.3 MB/s eta 0:00:07     |████████████████████████▏       | 11.6 MB 1.2 MB/s eta 0:00:04     |███████████████████████████▊    | 13.3 MB 210 kB/s eta 0:00:10     |█████████████████████████████▎  | 14.1 MB 1.3 MB/s eta 0:00:02
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.20.0 pandas-1.2.1
Note: you may need to restart the kernel to use updated packages.

In [14]:
from sqlalchemy import create_engine

In [15]:
source = create_engine('mysql+mysqlconnector://test:test123@bi-1_db_1/test')

In [16]:
import pandas as pd

pd.read_sql('select current_date', con=source)

  current_date
0   2021-02-01

In [24]:
df = pd.read_csv('country_vaccinations.csv', 
                 dtype={"total_vaccinations": "Int64", 
                        "people_vaccinated": "Int64", 
                        "people_fully_vaccinated": "Int64", 
                        "daily_vaccinations": "Int64", 
                        "daily_vaccinations_per_million": "Int64"}, encoding='utf-8')
df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Argentina,ARG,2020-12-29,700,<NA>,<NA>,NaN,<NA>,0.00,NaN,NaN,<NA>,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
1,Argentina,ARG,2020-12-30,<NA>,<NA>,<NA>,NaN,15656,NaN,NaN,NaN,346,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
2,Argentina,ARG,2020-12-31,32013,<NA>,<NA>,NaN,15656,0.07,NaN,NaN,346,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
3,Argentina,ARG,2021-01-01,<NA>,<NA>,<NA>,NaN,11070,NaN,NaN,NaN,245,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
4,Argentina,ARG,2021-01-02,<NA>,<NA>,<NA>,NaN,8776,NaN,NaN,NaN,194,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422,Wales,NaN,2021-01-19,176186,175816,370,13989.0,10672,5.59,5.58,0.01,3385,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1423,Wales,NaN,2021-01-20,190831,190435,396,14645.0,11105,6.05,6.04,0.01,3522,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1424,Wales,NaN,2021-01-21,212732,212317,415,21901.0,12318,6.75,6.73,0.01,3907,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1425,Wales,NaN,2021-01-22,241016,240547,469,28284.0,15148,7.64,7.63,0.01,4804,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1426,Wales,NaN,2021-01-23,265054,264538,516,24038.0,17371,8.41,8.39,0.02,5510,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...

In [25]:
df.loc[df.source_website == 'Kuwait', ['source_website']]

Empty DataFrame
Columns: [source_website]
Index: []

In [26]:
df.dtypes

country                                 object
iso_code                                object
date                                    object
total_vaccinations                       Int64
people_vaccinated                        Int64
people_fully_vaccinated                  Int64
daily_vaccinations_raw                 float64
daily_vaccinations                       Int64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
daily_vaccinations_per_million           Int64
vaccines                                object
source_name                             object
source_website                          object
dtype: object

In [28]:
# file = open('file.txt', 'r')
# file.readlines()
# file.close()

# with open('file.txt', 'r') as file:
#     file.readlines()

# fdkjfdkjf

In [29]:
print(pd.io.sql.get_schema(df.reset_index(), 'test.vacinations_per_country', con=source))

CREATE TABLE `test.vacinations_per_country` (
	`index` BIGINT,
	country TEXT,
	iso_code TEXT,
	date TEXT,
	total_vaccinations BIGINT,
	people_vaccinated BIGINT,
	people_fully_vaccinated BIGINT,
	daily_vaccinations_raw FLOAT(53),
	daily_vaccinations BIGINT,
	total_vaccinations_per_hundred FLOAT(53),
	people_vaccinated_per_hundred FLOAT(53),
	people_fully_vaccinated_per_hundred FLOAT(53),
	daily_vaccinations_per_million BIGINT,
	vaccines TEXT,
	source_name TEXT,
	source_website TEXT
)

In [30]:
with source.begin() as transaction:
#     transaction.execute('DELETE FROM test.vacinations_per_country')
    df.to_sql('vacinations_per_country', con=transaction, schema='test', if_exists='append', index=False)