In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in /opt/conda/lib/python3.8/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (1.2.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2020.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.20.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine

In [4]:
source = create_engine('mysql+mysqlconnector://test:test123@bi-1_db_1/test')

In [5]:
import pandas as pd

pd.read_sql('select current_date', con=source)

  current_date
0   2021-02-01

In [6]:
df = pd.read_csv('time_series_covid19_confirmed_global.csv', encoding='utf-8')
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,46837,47072,47306,47516,47716,47851,48053,48116,48229,48527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,41302,42148,42988,43683,44436,45188,46061,46863,47742,48530
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,86730,87502,88252,88825,89416,90014,90579,91121,91638,92102
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,6955,7005,7050,7084,7127,7162,7190,7236,7288,7338
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,15493,15536,15591,15648,15729,15804,15925,16061,16161,16188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1361,1365,1366,1367,1377,1381,1385,1391,1395,1397
267,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,94676,96098,98038,99758,101109,102992,104879,106622,108099,109738
268,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2267,2304,2337,2383,2078,2079,2081,2082,2083,2083
269,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,17857,17898,17916,17931,17963,18062,18091,18161,18217,18274
270,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,10547,10617,10718,10839,10912,11007,11081,11162,11219,11246

In [7]:
df.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
12/9/20             int64
12/10/20            int64
12/11/20            int64
12/12/20            int64
12/13/20            int64
Length: 331, dtype: object

In [8]:
df_t = df.T
df_t

,0,1,2,3,4,5,6,7,8,9,...,261,262,263,264,265,266,267,268,269,270
Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,New South Wales,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
Lat,33.93911,41.1533,28.0339,42.5063,-11.2027,17.0608,-38.4161,40.0691,-35.4735,-33.8688,...,55.3781,-32.5228,41.377491,-15.3767,6.4238,14.058324,31.9522,15.552727,-13.133897,-19.015438
Long,67.709953,20.1683,1.6596,1.5218,17.8739,-61.7964,-63.6167,45.0382,149.0124,151.2093,...,-3.436,-55.7658,64.585262,166.9592,-66.5897,108.277199,35.2332,48.516388,27.849332,29.154857
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/9/20,47851,45188,90014,7162,15804,146,1475222,144066,117,4624,...,1766819,8104,74352,1,105852,1381,102992,2079,18062,11007
12/10/20,48053,46061,90579,7190,15925,146,1482216,145240,117,4633,...,1787783,8487,74498,1,106280,1385,104879,2081,18091,11081
12/11/20,48116,46863,91121,7236,16061,147,1489328,146317,117,4639,...,1809455,8849,74811,1,106715,1391,106622,2082,18161,11162
12/12/20,48229,47742,91638,7288,16161,148,1494602,147312,117,4642,...,1830956,9180,74811,1,107177,1395,108099,2083,18217,11219
12/13/20,48527,48530,92102,7338,16188,148,1498160,148325,117,4645,...,1849403,9708,74956,1,107786,1397,109738,2083,18274,11246

In [9]:
df_t.columns = df_t.iloc[1]
df_t

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,New South Wales,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
Lat,33.93911,41.1533,28.0339,42.5063,-11.2027,17.0608,-38.4161,40.0691,-35.4735,-33.8688,...,55.3781,-32.5228,41.377491,-15.3767,6.4238,14.058324,31.9522,15.552727,-13.133897,-19.015438
Long,67.709953,20.1683,1.6596,1.5218,17.8739,-61.7964,-63.6167,45.0382,149.0124,151.2093,...,-3.436,-55.7658,64.585262,166.9592,-66.5897,108.277199,35.2332,48.516388,27.849332,29.154857
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/9/20,47851,45188,90014,7162,15804,146,1475222,144066,117,4624,...,1766819,8104,74352,1,105852,1381,102992,2079,18062,11007
12/10/20,48053,46061,90579,7190,15925,146,1482216,145240,117,4633,...,1787783,8487,74498,1,106280,1385,104879,2081,18091,11081
12/11/20,48116,46863,91121,7236,16061,147,1489328,146317,117,4639,...,1809455,8849,74811,1,106715,1391,106622,2082,18161,11162
12/12/20,48229,47742,91638,7288,16161,148,1494602,147312,117,4642,...,1830956,9180,74811,1,107177,1395,108099,2083,18217,11219
12/13/20,48527,48530,92102,7338,16188,148,1498160,148325,117,4645,...,1849403,9708,74956,1,107786,1397,109738,2083,18274,11246

In [10]:
df_t.insert(0, 'DATE', df_t.index)

In [11]:
df_t.head()

Country/Region,DATE,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
Province/State,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country/Region,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
Lat,Lat,33.93911,41.1533,28.0339,42.5063,-11.2027,17.0608,-38.4161,40.0691,-35.4735,...,55.3781,-32.5228,41.377491,-15.3767,6.4238,14.058324,31.9522,15.552727,-13.133897,-19.015438
Long,Long,67.709953,20.1683,1.6596,1.5218,17.8739,-61.7964,-63.6167,45.0382,149.0124,...,-3.436,-55.7658,64.585262,166.9592,-66.5897,108.277199,35.2332,48.516388,27.849332,29.154857
1/22/20,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df_t = df_t.reset_index()

In [13]:
df_t = df_t.drop('index', 1)

In [14]:
df_t = df_t.drop([0,1,2,3], 0)

In [15]:
# file = open('file.txt', 'r')
# file.readlines()
# file.close()

# with open('file.txt', 'r') as file:
#     file.readlines()

# fdkjfdkjf

In [27]:
df_t.dtypes

Country/Region
DATE                  object
Afghanistan           object
Albania               object
Algeria               object
Andorra               object
                       ...
Vietnam               object
West Bank and Gaza    object
Yemen                 object
Zambia                object
Zimbabwe              object
Length: 272, dtype: object

In [28]:
df_t['DATE'] = pd.to_datetime(df_t['DATE'], format='%m/%d/%y')

In [29]:
df_t

Country/Region,DATE,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
4,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
6,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
7,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
8,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,2020-12-09,47851,45188,90014,7162,15804,146,1475222,144066,117,...,1766819,8104,74352,1,105852,1381,102992,2079,18062,11007
327,2020-12-10,48053,46061,90579,7190,15925,146,1482216,145240,117,...,1787783,8487,74498,1,106280,1385,104879,2081,18091,11081
328,2020-12-11,48116,46863,91121,7236,16061,147,1489328,146317,117,...,1809455,8849,74811,1,106715,1391,106622,2082,18161,11162
329,2020-12-12,48229,47742,91638,7288,16161,148,1494602,147312,117,...,1830956,9180,74811,1,107177,1395,108099,2083,18217,11219
330,2020-12-13,48527,48530,92102,7338,16188,148,1498160,148325,117,...,1849403,9708,74956,1,107786,1397,109738,2083,18274,11246

In [30]:
print(pd.io.sql.get_schema(df_t.reset_index(), 'test.covid19_global', con=source))

CREATE TABLE `test.covid19_global` (
	`index` BIGINT,
	`DATE` DATETIME,
	`Afghanistan` BIGINT,
	`Albania` BIGINT,
	`Algeria` BIGINT,
	`Andorra` BIGINT,
	`Angola` BIGINT,
	`Antigua and Barbuda` BIGINT,
	`Argentina` BIGINT,
	`Armenia` BIGINT,
	`Australia` BIGINT,
	`Austria` BIGINT,
	`Azerbaijan` BIGINT,
	`Bahamas` BIGINT,
	`Bahrain` BIGINT,
	`Bangladesh` BIGINT,
	`Barbados` BIGINT,
	`Belarus` BIGINT,
	`Belgium` BIGINT,
	`Belize` BIGINT,
	`Benin` BIGINT,
	`Bhutan` BIGINT,
	`Bolivia` BIGINT,
	`Bosnia and Herzegovina` BIGINT,
	`Botswana` BIGINT,
	`Brazil` BIGINT,
	`Brunei` BIGINT,
	`Bulgaria` BIGINT,
	`Burkina Faso` BIGINT,
	`Burma` BIGINT,
	`Burundi` BIGINT,
	`Cabo Verde` BIGINT,
	`Cambodia` BIGINT,
	`Cameroon` BIGINT,
	`Canada` BIGINT,
	`Central African Republic` BIGINT,
	`Chad` BIGINT,
	`Chile` BIGINT,
	`China` BIGINT,
	`Colombia` BIGINT,
	`Comoros` BIGINT,
	`Congo Brazzaville` BIGINT,
	`Congo Kinshasa` BIGINT,
	`Costa Rica` BIGINT,
	`Cote d'Ivoire` BIGINT,
	`Croatia` BIGINT,
	`Cuba` BIGINT,
	`Cyprus` BIGINT,
	`Czechia` BIGINT,
	`Denmark` BIGINT,
	`Diamond Princess` BIGINT,
	`Djibouti` BIGINT,
	`Dominica` BIGINT,
	`Dominican Republic` BIGINT,
	`Ecuador` BIGINT,
	`Egypt` BIGINT,
	`El Salvador` BIGINT,
	`Equatorial Guinea` BIGINT,
	`Eritrea` BIGINT,
	`Estonia` BIGINT,
	`Eswatini` BIGINT,
	`Ethiopia` BIGINT,
	`Fiji` BIGINT,
	`Finland` BIGINT,
	`France` BIGINT,
	`Gabon` BIGINT,
	`Gambia` BIGINT,
	`Georgia` BIGINT,
	`Germany` BIGINT,
	`Ghana` BIGINT,
	`Greece` BIGINT,
	`Grenada` BIGINT,
	`Guatemala` BIGINT,
	`Guinea` BIGINT,
	`Guinea-Bissau` BIGINT,
	`Guyana` BIGINT,
	`Haiti` BIGINT,
	`Holy See` BIGINT,
	`Honduras` BIGINT,
	`Hungary` BIGINT,
	`Iceland` BIGINT,
	`India` BIGINT,
	`Indonesia` BIGINT,
	`Iran` BIGINT,
	`Iraq` BIGINT,
	`Ireland` BIGINT,
	`Israel` BIGINT,
	`Italy` BIGINT,
	`Jamaica` BIGINT,
	`Japan` BIGINT,
	`Jordan` BIGINT,
	`Kazakhstan` BIGINT,
	`Kenya` BIGINT,
	`Korea, South` BIGINT,
	`Kosovo` BIGINT,
	`Kuwait` BIGINT,
	`Kyrgyzstan` BIGINT,
	`Laos` BIGINT,
	`Latvia` BIGINT,
	`Lebanon` BIGINT,
	`Lesotho` BIGINT,
	`Liberia` BIGINT,
	`Libya` BIGINT,
	`Liechtenstein` BIGINT,
	`Lithuania` BIGINT,
	`Luxembourg` BIGINT,
	`MS Zaandam` BIGINT,
	`Madagascar` BIGINT,
	`Malawi` BIGINT,
	`Malaysia` BIGINT,
	`Maldives` BIGINT,
	`Mali` BIGINT,
	`Malta` BIGINT,
	`Marshall Islands` BIGINT,
	`Mauritania` BIGINT,
	`Mauritius` BIGINT,
	`Mexico` BIGINT,
	`Moldova` BIGINT,
	`Monaco` BIGINT,
	`Mongolia` BIGINT,
	`Montenegro` BIGINT,
	`Morocco` BIGINT,
	`Mozambique` BIGINT,
	`Namibia` BIGINT,
	`Nepal` BIGINT,
	`Netherlands` BIGINT,
	`New Zealand` BIGINT,
	`Nicaragua` BIGINT,
	`Niger` BIGINT,
	`Nigeria` BIGINT,
	`North Macedonia` BIGINT,
	`Norway` BIGINT,
	`Oman` BIGINT,
	`Pakistan` BIGINT,
	`Panama` BIGINT,
	`Papua New Guinea` BIGINT,
	`Paraguay` BIGINT,
	`Peru` BIGINT,
	`Philippines` BIGINT,
	`Poland` BIGINT,
	`Portugal` BIGINT,
	`Qatar` BIGINT,
	`Romania` BIGINT,
	`Russia` BIGINT,
	`Rwanda` BIGINT,
	`Saint Kitts and Nevis` BIGINT,
	`Saint Lucia` BIGINT,
	`Saint Vincent and the Grenadines` BIGINT,
	`Samoa` BIGINT,
	`San Marino` BIGINT,
	`Sao Tome and Principe` BIGINT,
	`Saudi Arabia` BIGINT,
	`Senegal` BIGINT,
	`Serbia` BIGINT,
	`Seychelles` BIGINT,
	`Sierra Leone` BIGINT,
	`Singapore` BIGINT,
	`Slovakia` BIGINT,
	`Slovenia` BIGINT,
	`Solomon Islands` BIGINT,
	`Somalia` BIGINT,
	`South Africa` BIGINT,
	`South Sudan` BIGINT,
	`Spain` BIGINT,
	`Sri Lanka` BIGINT,
	`Sudan` BIGINT,
	`Suriname` BIGINT,
	`Sweden` BIGINT,
	`Switzerland` BIGINT,
	`Syria` BIGINT,
	`Taiwan*` BIGINT,
	`Tajikistan` BIGINT,
	`Tanzania` BIGINT,
	`Thailand` BIGINT,
	`Timor-Leste` BIGINT,
	`Togo` BIGINT,
	`Trinidad and Tobago` BIGINT,
	`Tunisia` BIGINT,
	`Turkey` BIGINT,
	`US` BIGINT,
	`Uganda` BIGINT,
	`Ukraine` BIGINT,
	`United Arab Emirates` BIGINT,
	`United Kingdom` BIGINT,
	`Uruguay` BIGINT,
	`Uzbekistan` BIGINT,
	`Vanuatu` BIGINT,
	`Venezuela` BIGINT,
	`Vietnam` BIGINT,
	`West Bank and Gaza` BIGINT,
	`Yemen` BIGINT,
	`Zambia` BIGINT,
	`Zimbabwe` BIGINT
)

In [31]:
with source.begin() as transaction:
    transaction.execute('DELETE FROM test.covid19_global')
    df_t.to_sql('covid19_global', con=transaction, schema='test', if_exists='append', index=False)